<% include partials/header%>

<td class="leftMenu">
    <a href="/">Home</a><br>
    <a href="/about">About</a><br>
    <a href="/displayBooks">Display</a><br>
    <a href="/deleteRow">Delete</a><br>
    <a href="/editAndUpdate">EditAndUpdate</a>
</td>
<td class="mainContent">
    <h1>About Page</h1>
    <p> Author: Nikhil</p>
</td>
</tr>

<% include partials/footer%>