<% include partials/header%>

    <tr class="Central">
        <td class="leftMenu">
            <a href="/about">About</a><br>
            <a href="/displayBooks">Display</a><br>
            <a href="/addRow">Add</a><br>
            <a href="/deleteRow">Delete</a><br>
            <a href="/editAndUpdate">EditAndUpdate</a>
        </td>
        <td class="mainContent">
            <p> This is a bookShelf application project developed using Node.JS, express and MongoDB. </p>
            <br><br>
            <p>This project is developed to handle CRUD operations flawlessly</p>
        </td>
    </tr>


<% include partials/footer%>



